// @import "styles";
@use "@styles" as config;

.wxmp-msg {
  .weui-msg__title{
    font-size: 60px;
  }
  .weui-msg__desc{
    color: rgb(229, 155, 205);
    font-size: 30px;
  }
  .fetures {
    font-size: 28px;
  }
  .weui-btn {
    border-radius: 10px;
    font-size: 30px;
    .iconfont{
      font-size: 30px;
    }
  }
}